* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header,
footer {
    background-color: #01c4e7;
}

.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
    min-height: 10vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.header_nav {
    display: flex;
    gap: 15px;
    text-align: center;
    flex-direction: column;
}

.header_nav a,
a {
    text-decoration: none;
    border: 4px solid rgb(185, 39, 185);
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-size: 20px;
    font-weight: 800;
}

.header_nav a[href="#"] {
    background-color: white;
    color: rgba(0, 225, 255, 0.534);
}

a:hover {
    background-color: white;
    color: rgba(0, 225, 255, 0.534);
}

.index_main {
    background-color: rgba(177, 5, 34, 0.623);
    flex-grow: 1;
    padding: 0 10px;
}

h1,
h2 {
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: rgb(236, 219, 236);
}

.bannericecream {
    width: 100%;
    height: 200px;
    object-position: center;
}

.call_to_action {
    width: 100%;
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.call_to_action img {
    width: 90%;
    object-fit: contain;

}

.call_to_action p {
    width: 20ch;
}

.call_to_action2 {
    width: 100%;
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.call_to_action2 img {
    width: 50%;
    object-fit: contain;
}

.call_to_action2 p {
    width: 27ch;
}

.call_to_action3 {
    width: 100%;
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.call_to_action3 img {
    width: 100%;
    object-fit: contain;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.call_to_action4 {
    padding: 20px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;



}

table {
    text-align: center;
    border-collapse: collapse;
    font-size: 20px;
}

table,
tr,
td,
th {
    border: 3px solid white;
}

.call_to_action5 {
    width: 100%;
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.call_to_action5 img {
    width: 100%;
    object-fit: contain;
    text-align: center;
}

li {
    width: 23ch;
    text-align: center;
}

ol {
    list-style-type: decimal;
    text-align: start;
}

ul {
    list-style-type: disc;

}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: start;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
}


.footer {
    padding: 5px;
}

.footer_text {
    font-size: 15px;
    text-align: center;
    color: black;
}

@media (min-width: 1024px) {

    .header {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .header_nav {
        display: flex;
        gap: 15px;
        flex-direction: row;
    }

    .bannericecream {
        width: 100%;
        height: 400PX;
        object-fit: contain;
    }

    .call_to_action {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        padding: 50px;
    }

    .call_to_action img {
        width: 50%;
        height: 300px;
        object-fit: contain;
    }

    .call_to_action p {
        width: 60ch;
    }

    .call_to_action2 {
        display: flex;
        flex-direction: row;
        justify-content: first baseline;
        padding: 10px;

    }

    .call_to_action2 img {
        width: 50%;
        height: 240px;
        object-fit: contain;
    }

    .call_to_action2 p {
        width: 30ch;

    }

    .call_to_action3 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 30px;
    }

    .call_to_action3 img {
        width: 90%;
        height: 600px;
        object-fit: contain;

    }

    .contact {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
    }

    .call_to_action4 {
        padding: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    table {
        text-align: center;
        border-collapse: collapse;
        font-size: 20px;

    }

    table,
    tr,
    td,
    th {
        border: 3px solid white;
        padding: 80px;


    }

    .call_to_action5 {
        display: flex;
        flex-direction: row;
        gap: 300px;
        justify-content: space-evenly;
        padding:40px;
        gap: 90px;
    }

    .call_to_action5 img {
        width: 30%;
        height: 300px;
        object-fit: contain;
        
    }

    li {
        width: 40ch;
        text-align: center;
    }

    ol {
        list-style-type: decimal;
        text-align: start;
    }

    ul {
        list-style-type: disc;
    }

    form {
        display: flex;
        flex-direction:column;
        gap: 10px;
        align-items: center;
       
    }
    
    section {
        display: flex;
        flex-direction: row-reverse;
        padding: 15px;
    }

}